<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="">
<head>
    <!--/*@thymesVar id="title" type=""*/-->
    <title th:text="${title} ?: 'Course'">Course</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<section layout:fragment="content">
    <h1>course List</h1>
    <div>
        <a th:href="@{/courses/add}" class="btn btn-primary mb-3">Add New course</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>lectureName</th>
            <th>place</th>
            <th>startDate</th>
            <th>Image</th>
            <th>Add To Cart</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td th:text="${course.id}"></td>
            <td th:text="${course.lectureName}"></td>
            <td th:text="${course.place}"></td>
            <td th:text="${course.startDate}"></td>
            <td>
                <img th:src="@{'/images/' + ${course.image}}" alt="Course Image" th:width="150", th:height="100">
            </td>
            <td>
                <a th:href="@{/courses/edit/{id}(id=${course.id})}" class="btn btn-success btn-sm">Edit</a>
                <a th:href="@{/courses/delete/{id}(id=${course.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
